<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.data>
		<DbProviderFactories>
			<add name="Odbc Data Provider"
			     invariant="System.Data.Odbc"
			     description=".Net Framework Data Provider for Odbc"
			     type="System.Data.Odbc.OdbcFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</DbProviderFactories>
		<DbProviderPermission>
			<add name="Odbc Data Provider"
			     invariant="System.Data.Odbc"
			     description=".Net Framework Data Provider for Odbc"
			     type="System.Data.Odbc.OdbcPermission, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</DbProviderPermission>
	</system.data>
</configuration>