<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WMS_Fec_Italia.Net_Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.data>
		<DbProviderFactories>
			<add name="Odbc Data Provider"
        invariant="System.Data.Odbc"
        description=".Net Framework Data Provider for Odbc"
        type="System.Data.Odbc.OdbcFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</DbProviderFactories>
		<DbProviderPermission>
			<add name="Odbc Data Provider"
        invariant="System.Data.Odbc"
        description=".Net Framework Data Provider for Odbc"
        type="System.Data.Odbc.OdbcPermission, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</DbProviderPermission>
	</system.data>
 <applicationSettings>
  <WMS_Fec_Italia.Net_Framework.Properties.Settings>
   <setting name="dbIP" serializeAs="String">
    <value>172.16.16.85</value>
   </setting>
   <setting name="dbPort" serializeAs="String">
    <value>3306</value>
   </setting>
   <setting name="dbUser" serializeAs="String">
    <value>root</value>
   </setting>
   <setting name="dbName" serializeAs="String">
    <value>localdb</value>
   </setting>
   <setting name="dbPassword" serializeAs="String">
    <value>Password123!</value>
   </setting>
   <setting name="emailMittente" serializeAs="String">
    <value>servizinterni@fecpos.it</value>
   </setting>
   <setting name="emailPassword" serializeAs="String">
    <value>Fecitalia2022</value>
   </setting>
   <setting name="emailDestinatario" serializeAs="String">
    <value>servizinterni@fecpos.it</value>
   </setting>
   <setting name="smtpServer" serializeAs="String">
    <value>smtp.office365.com</value>
   </setting>
   <setting name="smtpTargetName" serializeAs="String">
    <value>STARTTLS/smtp.office365.com</value>
   </setting>
   <setting name="flipWebcam" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="dimensionePaccoGrande" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="dimensionePaccoMedio" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="dimensionePaccoPiccolo" serializeAs="String">
    <value>1</value>
   </setting>
  </WMS_Fec_Italia.Net_Framework.Properties.Settings>
 </applicationSettings>
</configuration>